////////////////////////////////////////
//LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////
//SEARCH
.search {
  // background-color: orangered; // this is for doing the syles of the elements
  // we can use flex properties to flex items
  flex: 0 0 40%;

  //a flex item (search)becoming a flex container here
  display: flex;
  align-items: center; // centers its element along the x axis
  justify-content: center; // centers the element along the Y axis
  &__input {
    //input element doesn't inherit the properties (font-family,font-size etc) of the global document
    font-family: inherit;
    font-size: inherit; // this inherits the header parents fontSize
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem; // for (top-bottom & left-right)
    //making this round
    border-radius: 100px; // to a very high number
    width: 90%; // while not clicked
    transition: all 0.2s; // animation should be on the root element
    margin-right: -3.25rem; // this is for putting the button inside of the input

    &:focus {
      outline: none;
      width: 100%; // changing side while focus ( size of parent which is 40%)
      background-color: var(--color-grey-light-3);
    }

    // changing the text color of the placeholder // we use webkit input placeholder sudo element
    &::-webkit-input-placeholder {
      // webkit is the chrome and safary browser

      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  // this changes the background color of both the input & the button while the input is only active
  //button becomes the same background color as the input
  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(
      --color-grey-light-2
    ); // want the save background as the input (as it is on the top)

    &:focus {
      //removing the focus from the button
      outline: none;
    }
    &:active {
      transform: translateY(2px); // moving the button down while clicked
    }
  }
  // here we format svg icons==> we just have to set the height and width
  &__icon {
    height: 2rem;
    width: 2rem;
    // the way we added the svg in our app let us change the chage the color of the icon this way
    fill: var(--color-grey-dark-3);
  }
}

////////////////////////////////////////
//USER NAVIGATION

.user-nav {
  // this is for one individual flex item
  // overwriting the parents align-item: center to self ( thus user-navigation wont allign with its other siblings(logo,search)
  align-self: stretch; // navigation takes all the space of the parent

  display: flex; // flex item becomes a flex container
  align-items: center; //vertically centering the items

  //styling all of the direct children of user-nav
  & > * {
    padding: 0 2rem; //(top-bottom, left-right)
    cursor: pointer;
    height: 100%; // takes all the available space
    display: flex;
    align-items: center; // vertically centering
  }
  //styling all of the direct children of user-nav
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); // changing the color of the icon
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    //flexbox does not provide us with a way to position an element exactly as we want that
    position: absolute; // thus parents element should be positioned to relative (icon-box)
    // thus positioning on the parent box
    top: 1.5rem;
    right: 1.1rem;

    //for positioning the txt as flexbox not only works for child element but also works for text
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__user-photo {
    height: 3.75rem;
    // make this round
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//////////////////////////////////////////////////////////////////////////
//////SIDE NAVIGATION

.side-nav {
  font-size: 1.4rem;
  list-style: none; // getting rid of the numbering / point sign
  margin-top: 3.5rem;
  &__item {
    position: relative; // the parent should be relative if the child is positioned as absolute

    // styling except the last child
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  // adding psudo-element for hovering effect (small line that with be visible and expands to the right side)
  &__item::before {
    content: ""; // this is for showing the content in the browser
    position: absolute; // positioning absolute relative to the parent
    top: 0;
    left: 0;
    height: 100%; // taking 100% of the parent list item
    width: 3px; // this does not work cox transform scaleY is set to 0
    background-color: var(--color-primary);
    // transition & transform both need to be written together for the effect
    transform: scaleY(0); // not taking any space
    // transform-origin: bottom; // this is set to center by default
    transition: transform 0.2s,
      width 0.4s cubic-bezier(0.84, 0.08, 0.24, 1) 0.3s, background-color 0.1s; // we need this to see the effect // delay between transform & width is .3s
  }

  //--------------chaging style while hovering
  // active state should be as the hover state
  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1); // taking 100%
    width: 100%; // initially its 3px but on hover takes the whole width
  }

  //changing styles while clicked
  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  // styling the default link style
  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none; // getting rid of underline
    text-transform: uppercase;
    display: block; // display as a block/inline block (same)==> this is for the box model
    padding: 1.5rem 3rem;
    // positioning the link to the top (after or before psudo-element)
    position: relative; // z index only works for specified position
    z-index: 20;

    //positioning the icon & text
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // this colors the icon as the parent element (side-nav__link)
  }
}

//////////////////////////////////////////////////////////////////////////
////// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  //centering the text in a block
  text-align: center;
  padding: 2.5rem;
}

//////////////////////////////////////////////////////////////////////////
////// GALLERY

.gallery {
  display: flex; // this always puts element side by side
  &__photo {
    // for responsive design we need width and height in percentages so they stays fluid and they fit inside a given space
    width: 100%;
    display: block;
  }
}

//////////////////////////////////////////////////////////////////////////
//////  HOTEL OVERVIEW

.overview {
  display: flex; // positining child element side by side
  align-items: center; // centering elements in cross(y) axis
  border-bottom: 2px solid var(--color-grey-light-2);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }
  &__stars {
    // flex: 1; // flex item grows and occupy all the available space // we cant use it because we dont want the box to have occupy the whole available space
    margin-right: auto; // thus we use margin-right to auto (instead of flex:1 because the background takes the whole space)
    display: flex; // removing the white-space as svg elements works as inline elements giving space around it
  }
  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); // adding the color
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; // vertical allign
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    // stretching all the way (up and down) of the parent container
    align-self: stretch; // this overrides allign-items center from the parent
    display: flex;
    flex-direction: column;
    align-items: center; // vertically allign
    justify-content: center; // centering all the items of the container
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }
  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

//////////////////////////////////////////////////////////
///// BUTTON INLINE

.btn-inline {
  border: none; // removing the button border
  color: var(--color-primary);
  font-size: inherit; // to make this button moduler(reusable)
  border-bottom: 1px solid currentColor; // color is exact as the text
  padding-bottom: 2px;
  display: inline-block; // the default is inline
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; //animation

  &:hover {
    color: var(--color-grey-dark-1); // border also updates as well
  }

  // while clicked (and focus is on it)the button
  &:focus {
    outline: none; // removes default blue border
    animation: pulsate 1s infinite;
  }
}

// here is the keyframe animation
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
