.container {
  // this can decrease if there is not enough space to show the content
  max-width: 120rem;
  margin: 8rem auto; // centers the container inside of its parent(body) element
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  //defining the height
  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  // adding flex properties to the child
  display: flex;
  //giving space between logo, search & user nav
  justify-content: space-between;
  // alligning items in cross (Y) axis
  align-items: center;
}

// THis is the flex container containing sidebar & hotel view
.content {
  // we want sidebar and hotel-view side by side
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  //define the width we use flex-basis property (short hand is flex (flex-grow, flex-shrink, flex-basis)
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;

  // occupy the entire available space(flex-grow)
  flex: 1;
}
